{# empty Twig template #}

<div class="body-contain">
                <!--   /*La etiqueta fieldset>se utiliza para agrupar elementos relacionados en un formulario. y dibuja una caja alrededor de los elementos relacionados. */-->
                <fieldset>
                      <legend>Registrese</legend>
                 
                    <form name="formuregistro" id="formuregistro" method="POST" > 
                     <input type="hidden" value="2" name="enviar" />
                        <p> <label>Ingrese nombre:</label> <input type="text" placeholder="Ingrese un nombre" name="nombre"  id="nombre" value=""/> </p>
                        
                        <p><label> Ingrese apellido:</label> <input type="text" placeholder="Ingrese un apellido" name="apellido" id="apellido" value=""/> </p>
                       
                        <p><label>  Ingrese CUIT:</label> <input type="text"  placeholder="Ingrese una cuit"  name="cuit" {#onblur="show(this.value);"#}  id="cuit" value="" /> </p>
                       
                        <div id="resul">
                            
                        </div>    
                        <p><label>Ingrese mail:</label> <input type="text" placeholder="Ingrese una direccion de correo" name="correo"  id="correo" value=""  /> </p>
                       
                        <p><label> Ingrese direccion:</label> <input type="text" placeholder="Ingrese un domicilio" name="domicilio"  id="domicilio" value=""  /> </p>
                      
                        <p><label> Ingrese Razon social:</label> <input type="text" placeholder="Ingrese razon social" name="rsocial"  id="rsocial" value=""/> </p>
                          
                        <p><label>  Ingrese Condicion impositiva:</label> <input type="text" placeholder="Ingrese condicion impositiva" name="condimpositiva"  id="condimpositiva" value=""  /> </p> 
                        
                     <button type="submit"  > Registrar</button>
                   <input type="button" title="Volver" value="volver"  onclick="window.location.href='{{home}}admin/clientes'"/>      
                     
             
                   
                    </form>   

                  {%if parametros.mensaje is defined%}
                    <div class="mensaje">     {{ parametros.mensaje }} </div>
                    {%endif%}

                </fieldset>
            </div>